<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Kuechenpate\Brands\Observer\ImageResizeAfterProductSave">
        <arguments>
            <argument name="imageResizeSchedulerFlag" xsi:type="boolean">true</argument>
        </arguments>
    </type>
</config>