<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Merkur Möbel-Vertrieb GmbH. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../app/code/Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Kuechenpate:Brands::brand" title="Brands" module="Kuechenpate_Brands" parent="kuechenpate::base" sortOrder="20" resource="Kuechenpate_Brands::brand" action="kuechenpate_brands/brand"/>
    </menu>
</config>