<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Merkur Möbel-Vertrieb GmbH. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="kuechenpate_brands" frontName="kuechenpate_brands">
            <module name="Kuechenpate_Brands" />
        </route>
    </router>
</config>
