<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="brands" translate="label" sortOrder="200">
            <label>Brands</label>
        </tab>
        <section id="brands" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Brands</label>
            <tab>brands</tab>
            <resource>Kuechenpate_Brands::config_brands</resource>
            <group id="placeholder" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Image Placeholders</label>
                <clone_fields>1</clone_fields>
                <clone_model>Magento\Catalog\Model\Config\CatalogClone\Media\Image</clone_model>
                <field id="placeholder" type="image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/placeholder</upload_dir>
                    <base_url type="media" scope_info="1">catalog/product/placeholder</base_url>
                </field>
            </group>
        </section>
        <section id="web">
            <group id="default_layouts" translate="label" type="text" sortOrder="35" showInDefault="1">
                <label>Default Layouts</label>
                <field id="default_brand_layout" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Default Brand Layout</label>
                    <source_model>Kuechenpate\Brands\Model\Config\Source\LayoutList</source_model>
                </field>
            </group>
            <group id="url">
                <field id="brand_media_url_format" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Brand media URL format</label>
                    <source_model>Kuechenpate\Brands\Model\Config\Source\Web\BrandMediaUrlFormat</source_model>
                    <comment><![CDATA[Images should be optimized based on query parameters by your CDN or web server. Use the legacy mode for backward compatibility. <a href="https://experienceleague.adobe.com/docs/commerce-admin/config/general/web.html">Learn more</a> about catalog URL formats.<br/><br/><strong style="color:red">Warning!</strong> If you switch back to legacy mode, you must <a href="https://developer.adobe.com/commerce/frontend-core/guide/themes/configure/#resize-catalog-images">use the CLI to regenerate images</a>.]]></comment>
                </field>
            </group>
        </section>
        <section id="system" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>System</label>
            <tab>advanced</tab>
            <resource>Magento_Config::config_system</resource>
            <group id="upload_configuration" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Images Upload Configuration</label>
                <field id="jpeg_quality" translate="label comment" type="text" sortOrder="100" showInDefault="1" canRestore="1">
                    <label>Quality</label>
                    <validate>validate-digits validate-digits-range digits-range-1-100 required-entry</validate>
                    <comment>Jpeg quality for resized images 1-100%.</comment>
                </field>
            </group>
        </section>
    </system>
</config>